In [11]:
import pandas as pd
import numpy as np
from matplotlib import pyplot
data = pd.read_csv('kc_house_data.csv')
data[['price', 'zipcode']]

           price  zipcode
0     221900.000    98178
1     538000.000    98125
2     180000.000    98028
3     604000.000    98136
4     510000.000    98074
...          ...      ...
21608 360000.000    98103
21609 400000.000    98146
21610 402101.000    98144
21611 400000.000    98027
21612 325000.000    98144

[21613 rows x 2 columns]

In [13]:
# excluding outliers
data.drop(data[data['bedrooms']>11].index,inplace=True)
data.drop(data[(data['bedrooms']==0) | (data['bathrooms']==0)].index,inplace=True)

In [14]:
# data transformation
pd.set_option('display.float_format', lambda x: '%.3f' % x)
data['waterfront'] = data['waterfront'].apply(lambda x: 'yes' if x == 1 else 'no')
data['date'] = pd.to_datetime(data['date']).dt.strftime('%Y-%m-%d')

In [15]:
#solving first question first part
price_median= data[['price', 'zipcode']].groupby('zipcode').median().reset_index()
price_median.columns = ['zipcode', 'price_median']
data_price_median = pd.merge(data,price_median,on='zipcode',how='inner')
print(price_median)
print(data_price_median[['zipcode','price','price_median']])

for i in range(len(data_price_median)):
    if (data_price_median.loc[i, 'price']<data_price_median.loc[i,'price_median']) & (data_price_median.loc[i,'condition']>=3):
        data_price_median.loc[i,'status'] = 'buy'
        
    else:
        data_price_median.loc[i,'status'] = 'do not buy'
        
print(data_price_median[['zipcode','price','price_median', 'status', 'condition']])

    zipcode  price_median
0     98001    260000.000
1     98002    235000.000
2     98003    267475.000
3     98004   1150000.000
4     98005    765475.000
..      ...           ...
65    98177    554000.000
66    98178    278277.000
67    98188    264000.000
68    98198    265000.000
69    98199    689800.000

[70 rows x 2 columns]
       zipcode       price  price_median
0        98178  221900.000    278277.000
1        98178  205425.000    278277.000
2        98178  445000.000    278277.000
3        98178  236000.000    278277.000
4        98178  170000.000    278277.000
...        ...         ...           ...
21591    98039 2720000.000   1892500.000
21592    98039 1950000.000   1892500.000
21593    98039 2250000.000   1892500.000
21594    98039 2900000.000   1892500.000
21595    98039 1865000.000   1892500.000

[21596 rows x 3 columns]
       zipcode       price  price_median      status  condition
0        98178  221900.000    278277.000         buy          3
1        98178  205425.000    278277.000         buy          4
2        98178  445000.000    278277.000  do not buy          3
3        98178  236000.000    278277.000         buy          3
4        98178  170000.000    278277.000         buy          3
...        ...         ...           ...         ...        ...
21591    98039 2720000.000   1892500.000  do not buy          4
21592    98039 1950000.000   1892500.000  do not buy          4
21593    98039 2250000.000   1892500.000  do not buy          3
21594    98039 2900000.000   1892500.000  do not buy          3
21595    98039 1865000.000   1892500.000         buy          3

[21596 rows x 5 columns]

In [16]:
houses_to_buy = data_price_median[data_price_median['status'] == 'buy']
houses_to_buy = pd.DataFrame(houses_to_buy)
houses_to_buy

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,dormitory_type,price_median,status
0,7129300520,2014-10-13,221900.000,3,1.000,1180,5650,1.000,no,0,...,1955,0,98178,47.511,-122.257,1340,5650,house,278277.000,buy
1,4060000240,2014-06-23,205425.000,2,1.000,880,6780,1.000,no,0,...,1945,0,98178,47.501,-122.248,1190,6780,apartment,278277.000,buy
3,2976800796,2014-09-25,236000.000,3,1.000,1300,5898,1.000,no,0,...,1961,0,98178,47.505,-122.255,1320,7619,house,278277.000,buy
4,6874200960,2015-02-27,170000.000,2,1.000,860,5265,1.000,no,0,...,1931,0,98178,47.505,-122.272,1650,8775,apartment,278277.000,buy
5,4268200055,2015-05-01,245000.000,3,1.750,1740,11547,1.000,no,0,...,1954,0,98178,47.495,-122.220,880,78408,house,278277.000,buy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21583,3025300225,2014-10-31,1450000.000,5,2.750,3090,19865,1.000,no,0,...,1953,0,98039,47.623,-122.235,2970,19862,house,1892500.000,buy
21584,2470200020,2014-05-14,1880000.000,4,2.750,3260,19542,1.000,no,0,...,1968,0,98039,47.624,-122.236,3480,19863,house,1892500.000,buy
21586,3625049079,2014-08-01,1350000.000,3,2.000,2070,9600,1.000,no,1,...,1946,0,98039,47.616,-122.239,3000,16215,house,1892500.000,buy
21588,5427100150,2014-06-26,1410000.000,4,2.250,3250,16684,2.000,no,0,...,1979,0,98039,47.633,-122.229,2890,16927,house,1892500.000,buy
21595,3262300818,2015-02-27,1865000.000,4,3.750,3790,8797,2.000,no,0,...,2006,0,98039,47.635,-122.236,2660,12150,house,1892500.000,buy

In [17]:
# checcking missing values
print(pd.isnull(houses_to_buy).sum())

id                0
date              0
price             0
bedrooms          0
bathrooms         0
sqft_living       0
sqft_lot          0
floors            0
waterfront        0
view              0
condition         0
grade             0
sqft_above        0
sqft_basement     0
yr_built          0
yr_renovated      0
zipcode           0
lat               0
long              0
sqft_living15     0
sqft_lot15        0
dormitory_type    0
price_median      0
status            0
dtype: int64

In [7]:
houses_to_buy[['price', 'bedrooms', 'sqft_lot', 'bathrooms']][(houses_to_buy['bedrooms'] >= 8) | 
                                                              (houses_to_buy['sqft_lot']>=1074218) | 
                                                              (houses_to_buy['bathrooms']>=4.25)]

            price  bedrooms  sqft_lot  bathrooms
5974   340000.000         8      6695      2.750
6387   884900.000         7     10800      4.750
7594   680000.000         8      4800      2.750
7872   510000.000         6      7561      4.500
7959   510000.000         6      7200      4.500
8109   510000.000         6      7480      4.500
8355   542500.000         5   1074218      3.250
11567  660000.000        10      3745      3.000
12698  430000.000         8     10441      3.250
12902  490000.000         8      2580      5.000
13631 1000000.000         5     16258      4.250
13707 1148000.000        10     10920      5.250
13791  980000.000         4     11780      4.250
15043  540000.000         4      3565      4.250
15830  303500.000         6      7200      4.500
16521  700000.000         9      4400      3.000
16626  480000.000         5     35000      4.750
18511  650000.000        10     11914      2.000
18563  650500.000         5     11412      4.250
19081  655000.000         6      6600      5.000
19627  350000.000         6      8504      4.500

In [18]:
houses_to_buy['recommendation_to_buy'] = 'NA'
houses_to_buy

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,dormitory_type,price_median,status,recommendation_to_buy
0,7129300520,2014-10-13,221900.000,3,1.000,1180,5650,1.000,no,0,...,0,98178,47.511,-122.257,1340,5650,house,278277.000,buy,NA
1,4060000240,2014-06-23,205425.000,2,1.000,880,6780,1.000,no,0,...,0,98178,47.501,-122.248,1190,6780,apartment,278277.000,buy,NA
3,2976800796,2014-09-25,236000.000,3,1.000,1300,5898,1.000,no,0,...,0,98178,47.505,-122.255,1320,7619,house,278277.000,buy,NA
4,6874200960,2015-02-27,170000.000,2,1.000,860,5265,1.000,no,0,...,0,98178,47.505,-122.272,1650,8775,apartment,278277.000,buy,NA
5,4268200055,2015-05-01,245000.000,3,1.750,1740,11547,1.000,no,0,...,0,98178,47.495,-122.220,880,78408,house,278277.000,buy,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21583,3025300225,2014-10-31,1450000.000,5,2.750,3090,19865,1.000,no,0,...,0,98039,47.623,-122.235,2970,19862,house,1892500.000,buy,NA
21584,2470200020,2014-05-14,1880000.000,4,2.750,3260,19542,1.000,no,0,...,0,98039,47.624,-122.236,3480,19863,house,1892500.000,buy,NA
21586,3625049079,2014-08-01,1350000.000,3,2.000,2070,9600,1.000,no,1,...,0,98039,47.616,-122.239,3000,16215,house,1892500.000,buy,NA
21588,5427100150,2014-06-26,1410000.000,4,2.250,3250,16684,2.000,no,0,...,0,98039,47.633,-122.229,2890,16927,house,1892500.000,buy,NA
21595,3262300818,2015-02-27,1865000.000,4,3.750,3790,8797,2.000,no,0,...,0,98039,47.635,-122.236,2660,12150,house,1892500.000,buy,NA

In [20]:
for i in range(len(houses_to_buy)):
    if (houses_to_buy.loc[i,'bedrooms'] >= 8):
        houses_to_buy.loc[i,'recommendation_to_buy'] = 'very_high'
        
    else:
        houses_to_buy.loc[i, 'recommendation_to_buy'] = 'high'

KeyError: 2